In [1]:
import pandas as pd

In [2]:
# Read the data into a Pandas DataFrame
crowdfunding_data = pd.ExcelFile("crowdfunding.xlsx")

# Get the sheet names.
crowdfunding_data.sheet_names

['crowdfunding_info', 'contact_info']

In [3]:
# Get the crowdfunding_info from the crowdfunding_info worksheet.
crowdfunding_info_df = pd.read_excel(crowdfunding_data, sheet_name='crowdfunding_info')
crowdfunding_info_df.head()

,cf_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category
0,147,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks
1,1621,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock
2,1812,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web
3,2156,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock
4,1365,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays

In [4]:
# Get the contact_info from the contact_info worksheet.
# Increase the width of the column.
pd.set_option('max_colwidth', 400)
contact_info_df = pd.read_excel(crowdfunding_data, sheet_name='contact_info', header=2)
contact_info_df.head()

0                                                                               contact_info
1   {"contact_id": 4661, "name": "Cecilia Velasco", "email": "cecilia.velasco@rodrigues.fr"}
2          {"contact_id": 3765, "name": "Mariana Ellis", "email": "mariana.ellis@rossi.org"}
3            {"contact_id": 4187, "name": "Sofie Woods", "email": "sofie.woods@riviere.com"}
4  {"contact_id": 4941, "name": "Jeanette Iannotti", "email": "jeanette.iannotti@yahoo.com"}

In [5]:
# Verify fd dataset
crowdfunding_info_df.sample(n=22)

,cf_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category
313,336,Miller-Irwin,Secured maximized policy,2200,8697,successful,223,US,USD,1637906400,1638424800,False,False,music/rock
325,921,Saunders Group,Programmable systemic implementation,6500,5897,failed,73,US,USD,1590901200,1612072800,False,True,theater/plays
904,182,"Rodriguez, Johnson and Jackson",Digitized foreground array,6500,795,failed,16,US,USD,1592283600,1621918800,False,False,publishing/radio & podcasts
791,2499,"Stafford, Hess and Raymond",Optional web-enabled extranet,2100,540,failed,6,US,USD,1632373200,1642485600,False,False,food/food trucks
135,2647,"Le, Burton and Evans",Balanced zero-defect software,7700,5488,failed,117,US,USD,1608876000,1638424800,False,True,theater/plays
851,2004,Bright and Sons,Object-based needs-based info-mediaries,6000,12468,successful,160,US,USD,1634965200,1637388000,False,False,music/electric music
640,2938,"Richardson, Woodward and Hansen",Pre-emptive context-sensitive support,119800,19769,failed,257,US,USD,1604815200,1627102800,False,False,theater/plays
894,267,Barrett Inc,Organic cohesive neural-net,1700,3208,successful,56,GB,GBP,1607148000,1638597600,False,True,film & video/television
459,675,"Lane, Ryan and Chapman",Switchable demand-driven help-desk,6300,5674,failed,105,US,USD,1613973600,1617253200,False,False,film & video/documentary
370,2777,Skinner PLC,Intuitive well-modulated middleware,112300,178965,successful,5966,US,USD,1625115600,1629349200,False,False,theater/plays
572,913,Clements Group,Assimilated actuating policy,9000,4896,canceled,94,US,USD,1612936800,1617858000,False,True,music/rock
973,2494,"Herrera, Bennett and Silva",Programmable multi-state algorithm,121100,26176,failed,252,US,USD,1596085200,1620104400,False,True,theater/plays
981,2028,Diaz-Little,Grass-roots executive synergy,6700,11941,successful,323,US,USD,1624683600,1625893200,False,False,technology/web
215,2515,"Vargas, Banks and Palmer",Extended 24/7 implementation,156800,6024,failed,143,US,USD,1602046800,1620968400,False,False,theater/plays
111,2869,Hart-Briggs,Re-engineered user-facing approach,61400,73653,successful,676,US,USD,1615957200,1635310800,False,False,publishing/radio & podcasts
32,1173,Jackson PLC,Ergonomic 6thgeneration success,101000,87676,failed,2307,IT,EUR,1613887200,1637906400,False,False,film & video/documentary
814,2139,Vincent PLC,Visionary 24hour analyzer,3200,2950,failed,36,DK,DKK,1628830800,1640498400,False,True,music/rock
996,2031,Butler LLC,Future-proofed upward-trending migration,6600,4814,failed,112,US,USD,1634274000,1638252000,False,False,theater/plays
469,2099,Olsen-Ryan,Assimilated neutral utilization,5600,10328,successful,159,US,USD,1594616400,1620104400,False,False,film & video/drama
28,325,"Campbell, Brown and Powell",Synchronized global task-force,130800,137635,successful,2220,US,USD,1608703200,1640239200,False,True,theater/plays
642,2785,"Ramos, Moreno and Lewis",Extended multi-state knowledge user,9200,13382,successful,129,CA,CAD,1613196000,1634792400,False,False,technology/wearables
952,1847,Cummings-Hayes,Virtual multi-tasking core,145500,101987,canceled,2266,US,USD,1595221200,1627102800,False,False,film & video/documentary

In [6]:
contact_info_df.sample(n=2)

916  {"contact_id": 6142, "name": "Tom Leconte", "email": "tom.leconte@woods-johnson.com"}
170      {"contact_id": 5475, "name": "James Elliott", "email": "james.elliott@gmail.com"}

In [7]:
# Get brief summary of the corwdfunding_into DataFrame
crowdfunding_info_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   cf_id                    1000 non-null   int64
 1   company_name             1000 non-null   object
 2   blurb                    1000 non-null   object
 3   goal                     1000 non-null   int64
 4   pledged                  1000 non-null   int64
 5   outcome                  1000 non-null   object
 6   backers_count            1000 non-null   int64
 7   country                  1000 non-null   object
 8   currency                 1000 non-null   object
 9   launched_at              1000 non-null   int64
 10  deadline                 1000 non-null   int64
 11  staff_pick               1000 non-null   bool
 12  spotlight                1000 non-null   bool
 13  category & sub-category  1000 non-null   object
dtypes: bool(2), int64(6), object(6)
memory usage: 95.8+ KB

In [8]:
# Get a brief summary of the contact_info DataFrame.
contact_info_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1001 entries, 0 to 1000
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0           1001 non-null   object
dtypes: object(1)
memory usage: 7.9+ KB

In [11]:
# Get the unique values in the category & sub-category column.
crowdfunding_info_df["category & sub-category"].unique()

array(['food/food trucks', 'music/rock', 'technology/web',
       'theater/plays', 'film & video/documentary',
       'music/electric music', 'film & video/drama', 'music/indie rock',
       'technology/wearables', 'publishing/nonfiction',
       'film & video/animation', 'games/video games',
       'film & video/shorts', 'publishing/fiction',
       'photography/photography books', 'publishing/radio & podcasts',
       'music/metal', 'music/jazz', 'publishing/translations',
       'film & video/television', 'games/mobile games',
       'music/world music', 'film & video/science fiction',
       'journalism/audio'], dtype=object)

In [24]:
# Assign the category and subcategory values to category and subcategory columns.
crowdfunding_info_df[["category","subcategory"]] = crowdfunding_info_df["category & sub-category"].str.split('/', n=1, expand=True)
crowdfunding_info_df.head(10)

,cf_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category,category,subcategory
0,147,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks,food,food trucks
1,1621,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock,music,rock
2,1812,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web,technology,web
3,2156,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock,music,rock
4,1365,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays,theater,plays
5,2057,Harris Group,Open-source optimizing database,7600,13195,successful,174,DK,DKK,1607666400,1630213200,False,False,theater/plays,theater,plays
6,1894,"Ortiz, Coleman and Mitchell",Operative upward-trending algorithm,5200,1090,failed,18,GB,GBP,1596171600,1620709200,False,False,film & video/documentary,film & video,documentary
7,2669,Carter-Guzman,Centralized cohesive challenge,4500,14741,successful,227,DK,DKK,1608616800,1632200400,False,False,theater/plays,theater,plays
8,1114,Nunez-Richards,Exclusive attitude-oriented intranet,110100,21946,live,708,DK,DKK,1586322000,1615356000,False,False,theater/plays,theater,plays
9,970,"Rangel, Holt and Jones",Open-source fresh-thinking model,6200,3208,failed,44,US,USD,1628830800,1630386000,False,False,music/electric music,music,electric music

In [25]:
# Get the distinct values in the category and subcategory columns.
print(crowdfunding_info_df["category"].nunique())
print(crowdfunding_info_df["subcategory"].nunique())

9
24

In [26]:
# Get the unique categories and subcategories in separate lists.
categories = crowdfunding_info_df["category"].unique()
subcategories = crowdfunding_info_df["subcategory"].unique()
print(categories)
print()
print(subcategories)

['food' 'music' 'technology' 'theater' 'film & video' 'publishing' 'games'
 'photography' 'journalism']

['food trucks' 'rock' 'web' 'plays' 'documentary' 'electric music' 'drama'
 'indie rock' 'wearables' 'nonfiction' 'animation' 'video games' 'shorts'
 'fiction' 'photography books' 'radio & podcasts' 'metal' 'jazz'
 'translations' 'television' 'mobile games' 'world music'
 'science fiction' 'audio']

In [27]:
import numpy as np
# Create numpy arrays that have 1-10 for the category_ids and 1-25 for the subcategory_ids.
category_ids = np.arange(1,10)
subcategory_ids = np.arange(1,25)

In [29]:
# Use a list comprehension to add "cat0" to each category_id. 
cat_ids = ["cat0" + str(cat_id) for cat_id in category_ids]

# Use a list comprehension to add "scat0" to each subcategory_id. 
scat_ids = ["scat0" + str(scat_id) for scat_id in subcategory_ids ]

print(cat_ids)
print(scat_ids)

['cat01', 'cat02', 'cat03', 'cat04', 'cat05', 'cat06', 'cat07', 'cat08', 'cat09']
['scat01', 'scat02', 'scat03', 'scat04', 'scat05', 'scat06', 'scat07', 'scat08', 'scat09', 'scat010', 'scat011', 'scat012', 'scat013', 'scat014', 'scat015', 'scat016', 'scat017', 'scat018', 'scat019', 'scat020', 'scat021', 'scat022', 'scat023', 'scat024']

In [30]:
# Create a category DataFrame with the cat_ids array as the category_id and categories list as the category name.
category_df = pd.DataFrame({
    "category_id": cat_ids,
    "category": categories
})

# Create a subcategory DataFrame with the scat_ids array as the subcategory_id and subcategories list as the subcategory name.
subcategory_df = pd.DataFrame({
    "subcategory_id": scat_ids,
    "subcategory": subcategories
})
subcategory_df.head(10)

  subcategory_id     subcategory
0         scat01     food trucks
1         scat02            rock
2         scat03             web
3         scat04           plays
4         scat05     documentary
5         scat06  electric music
6         scat07           drama
7         scat08      indie rock
8         scat09       wearables
9        scat010      nonfiction

In [31]:
category_df.to_csv("category_df.csv", index=False)
subcategory_df.to_csv("subcategory_df.csv", index=False)